{% extends "bootstrap/base.html" %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
{% endblock %}

{% block title %}
    Flask-Boostrap
{% endblock %}

{% block body %}

    {% block navbar %}
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-1 shadow">
          <a class="navbar-brand col-sm-3 col-md-2 mr-0 text-white" href="{{ url_for('index') }}">Flask+Boostrap</a>
            <form class="form-inline w-100" method="GET" action="search">
                <input class="form-control form-control-dark w-100" name="query" id="query" type="text" placeholder="Search" aria-label="Search">
            </form>
        </nav>
    {% endblock %}

    {% block content %}
      <div class="container-fluid">
          <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
              <div class="sidebar-sticky">
                <ul class="nav flex-column">

                  <li class="nav-item">
                    <form class="form-inline" method="GET" action="search">
                        <input class="form-control w-100 mt-2 ml-2 mr-2" name="code_prod" id="code_prod" type="text" placeholder="Enter a product code" aria-label="Code">
                    </form>
                  </li>

                </ul>
              </div>
            </nav>

            <div class="col-md-10 ml-sm-auto col-lg-10 px-4">
                <main role="main">
                  {% if not products %}
                      <article class="product pt-3">
                      <h1>No results</h1>
                    </article>
                  {% else %}
                    <div class="card-columns pt-4">
                    {% for product in products %}
                            <div class="card">
                                <img class="card-img-top" src="{{ url_for('static', filename='286x180.png') }}">
                                <div class="card-body">
                                    <h2 class="card-title font-weight-bold">
                                        <a href="{{ url_for('product', id=product['code']) }}"> {{ product['name'] }}</a>
                                    </h2>
                                  <p class="card-text">{{ product['description'] }}</p>
                                  <p class="card-text text-muted">{{ product['username'] }}</p>
                                </div>
                            </div>
                    {% endfor %}
                    </div>
                  {% endif %}
                </main>
            </div>

          </div>
      </div>
    {% endblock %}

{% endblock %}
